.listing-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 25%));
}

.popup-item {
    display: flex;
    flex-direction: row;
}

.scrollmenu {
  display: inline-block;
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu-element {
  display: inline-block;
}

.vertical-center {
    position: absolute;
    top: 50%;
    left: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-clip: padding-box;
    margin: auto;
}

.selector { 
  display: table;
}